.project-card {
  position: relative;
  border-radius: var(--radius-15);
  overflow: hidden;
}

project-card .card-banner img {
  transition: var(--transition-2);
}

.project-card:is(:hover, :focus-within) .card-banner img {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.project-card .card-content {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  background-color: var(--mustard);
  border-radius: var(--radius-10);
  padding: 30px 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(calc(-50% + 20px));
  transition: var(--transition-2);
}

.project-card .card-tag {
  color: var(--raisin-black-1);
  font-size: var(--fs-9);
}

.project-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  transform: translateY(-50%);
}

.card-banner {
  border-radius: var(--radius-20);
  overflow: hidden;
  margin-block-end: 20px;
}

.card-banner {
  margin-block-end: 40px;
}

.card-banner img {
  transition: var(--transition-2);
}

.card-banner img {
  transform: scale(1.1);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.insta-card .card-content {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  background-color: var(--blue-ryb_80);
  color: var(--white);
  font-size: 25px;
  opacity: 0;
  transition: var(--transition-1);
}

.insta-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
}

@media (min-width: 575px) {
  .project-card .card-content {
    max-width: max-content;
    width: calc(100% - 40px);
    left: 50%;
    right: auto;
    padding: 50px 80px;
    transform: translate(-50%, calc(-50% + 20px));
  }

  .project-card:is(:hover, :focus-within) .card-content {
    transform: translate(-50%, -50%);
  }

  .project-card .card-title {
    margin-block-end: 10px;
  }
}

@media (min-width: 768px) {
  .card-banner {
    margin-block-end: 0;
    flex-shrink: 0;
  }
}
